.form {
  display: flex;
  flex-direction: column;
  gap: var(--ethds-space-4);
  font-family: var(--ethds-font-sans);
  max-width: 34rem;
}

.passwordField {
  display: flex;
  align-items: flex-end;
  gap: var(--ethds-space-4);
}

.passwordField > *:first-child {
  flex: 1;
}
